:root {
  --brand-1: rgb(49, 74, 91);
  --brand-2: rgb(154, 160, 171);
  --accent: rgb(250, 92, 101);
}
* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin-bottom: 5px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
section {
  padding: 20px 0;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.col-left {
  flex-basis: 23%;
  min-width: 230px;
  padding-right: 50px;
}
.col-right {
  flex-basis: 77%;
}

.text {
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--brand-2);
}

.subtitle {
  font-weight: 700;
}

/*WELCOME*/
.welcome__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome__photo {
  position: relative;
  width: 250px;
  height: 250px;
}
.welcome__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.welcome__name {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 53px;
  color: var(--brand-1);
  margin-bottom: 10px;
}
.welcome__profession {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  color: var(--brand-1);
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: var(--brand-2);
  transition: all 0.3 ease;
}
a:hover {
  color: var(--accent);
}
i {
  margin-right: 15px;
  margin-bottom: 5px;
}

/*ABOUT*/
.about__body {
  display: flex;
}
.about__right {
  flex-basis: 23%;
  min-width: 230px;
}
.about__left {
  flex-basis: 77%;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--brand-2);
}
.subtitle {
  font-weight: 700;
}
.title-project {
  margin-bottom: 15px;
}

/*Title section*/
.title__box {
  border-bottom: solid 1px var(--brand-2);
  display: flex;
  margin-bottom: 30px;
}
.title__name {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-left: 20px;
  color: var(--brand-1);
  margin-top: 6px;
}
.title__icon {
  padding-top: 7px;
}

/*Portfolio*/

.portfolio article {
  margin-bottom: 30px;
}
.portfolio article:last-child {
  margin-bottom: 0;
}
.portfolio article img {
  border: 1px solid var(--brand-2);
  margin-bottom: 10px;
  max-width: 230px;
}

/*Code*/
pre {
  margin: -30px 0 0 0;
}
.code {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--brand-2);
  width: 100%;
}
