* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.sect {
  margin-bottom: 50px;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.col-left {
  flex-basis: 23%;
  min-width: 230px;
  padding-right: 30px;
}
.col-right {
  flex-basis: 77%;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: rgb(154, 160, 171);
}

.subtitle {
  font-weight: 700;
}

/*WELCOME*/

.welcome {
  padding: 20px;
}
.welcome__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome__photo {
  position: relative;
  width: 250px;
  height: 250px;
}
.welcome__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.welcome__name {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 53px;
  color: #314a5b;
  margin-bottom: 10px;
}
.welcome__profession {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  color: #314a5b;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.welcome__contacts i {
  margin-right: 15px;
  color: #9aa0ab;
}

/*ABOUT*/
.about__body {
  display: flex;
}
.about__right {
  flex-basis: 23%;
  min-width: 230px;
}
.about__left {
  flex-basis: 77%;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #9aa0ab;
}
.subtitle {
  font-weight: 700;
}
.title-project {
  margin-bottom: 5px;
}

/*Title section*/
.title__box {
  border-bottom: solid 1px rgb(185, 192, 198);
  display: flex;
  margin-bottom: 30px;
}
.title__name {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-left: 20px;
  color: #314a5b;
  margin-top: 6px;
}
.title__icon {
  padding-top: 7px;
}
